@tailwind base;
@tailwind components;
@tailwind utilities;

body{
@apply bg-[#FFFAFB];
  -webkit-font-smoothing: antialiased;
}



::-webkit-scrollbar {
  width: 0px;
}


.right-arrow,
.left-arrow {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FF2625;
  font-size: 25px;
  border-radius: 4px;
  position: absolute;
  bottom: -20px;
  right: 80px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.left-arrow {
  right: 140px;
}